<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User info</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<h1 th:text="${user.getFirstName()}"/>&ndash;&gt;-->

<!--&lt;!&ndash;всавка поля объекта в строку&ndash;&gt;-->
<!--&lt;!&ndash;<h1 th:inline="text"> Id:[[*{id}]] </h1>&ndash;&gt;-->
<!--&lt;!&ndash;<a th:href="@{/user/hello}">TEXT HERE!!</a>&ndash;&gt;-->
<!--<ul th:each="u :${users}">-->
<!--    <li th:text="${u.getId()}"></li>-->
<!--</ul>-->



<!--</body>-->
<!--</html>-->